<span class="sparkline <%= 'building' if project.building? %>">
  <% project.recent_online_statuses(9).each do |status| %>
    <span class="item <%= status.in_words %>">
       <a href="<%= status.url %>">
       </a>
    </span>
  <% end %>
</span>
