/* Variables */
$green:  #93CDAD;
$light-green: #a9d5bb;
$lighter-green: #b9dcc8;
$stripe-green: #7cc39c;
$sparkline-green: #d2e9dc;

$red:  #f6704d;
$light-red: #f88b69;
$lighter-red: #f99e7f;
$stripe-red: #f25e3e;
$sparkline-red: #fdc3ac;

$grey:  #dbe3da;
$light-grey: #e2e9e1;
$lighter-grey: #e7ede6;
$stripe-grey: #c9c9c9;
$sparkline-grey: #f1f4f0;
